html {
    /* text-align: center; */
    box-sizing: border-box;
}

/* table {
    position: relative;
    text-align: center;
} */

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.table {
    position: relative;
    /* margin-left: 5rem; */
    text-align: center;
    /* border: 3px solid indigo; */
}

table {
    position: relative;
    /* align-items: center */
    /* For horizontally centering the element */
    margin: auto;
    border: 3px solid indigo;
    
}

a {
    display: inline;
    margin-right: 1em;
}

.pageSelections {
    display: inline-block;
}

.pagination {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 1em;
}

