html {
    /* text-align: center; */
    box-sizing: border-box;
}

/* table {
    position: relative;
    text-align: center;
} */

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

/* .table { */
    /* position: relative; */
    /* margin-left: 5rem; */
    /* text-align: center; */
    /* border: 3px solid indigo; */
/* } */

.memberInfo > table {
    position: relative;
    /* align-items: center */
    /* For horizontally centering the element */
    margin: auto;
    border: 3px solid rgb(75, 0, 130);
    
}

table th,td {
    margin: 10px;
    padding: 10px;
    border: 3px solid rgb(75, 0, 130);
}

/* table tr {
    
} */

a {
    display: inline;
    margin-right: 1em;
}

.pageSelections {
    display: inline-block;
}

.pagination {
    display: block;
    position: relative;
    text-align: center;
    margin-top: 1em;
}

img #logo {
    margin: 2rem !important;
}

nav a {
    transition: background 0.5s !important;
}

nav a:hover {
    background: orange !important;
}

/* nav :nth-child(2) {} */